// Global
$body-bg:                                       #fcfcfc;
$body-color:                                    #656565;
$font-size-base:                                0.95rem;
$enable-responsive-font-sizes:                  true;
$enable-prefers-reduced-motion-media-query:     false;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$primary:                 #0086b2;

$list-name-color:         $primary;
$list-name-size:          1.2rem;

